<div class="nav nav-bar nav-font">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>

    <% if current_user %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <%= link_to "Edit Account", edit_user_registration_path %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
</div>